{{#each result}}
  <p>
    {{name}} - {{year}}
  </p>
  <p>
  	<img src="{{picture}}" />
  </p>

{{/each}}

{{!-- Tim's solution:
{{#each wines}}
<div class="drink">
  <div class="column">
    <img src="{{picture}}">
  </div>
  <div class="column">
    <div class="name">{{name}}</div>
    <div class="year">{{country}}, {{year}}</div>
    <div class="grapes">{{grapes}} grapes</div>
    <div class="description">{{description}}</div>
  </div>
  <div class="clearme"></div>
</div>
{{/each}} --}}